/* SEIReader 0.26: keep this file next to the fonts/ directory. */

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Light.latin-basic.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Light.latin-extended.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Light.symbols-icons.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-LightItalic.latin-basic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-LightItalic.latin-extended.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-LightItalic.symbols-icons.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Regular.latin-basic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Regular.latin-extended.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Regular.symbols-icons.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Italic.latin-basic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Italic.latin-extended.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Italic.symbols-icons.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Medium.latin-basic.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Medium.latin-extended.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Medium.symbols-icons.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-MediumItalic.latin-basic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-MediumItalic.latin-extended.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-MediumItalic.symbols-icons.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-SemiBold.latin-basic.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-SemiBold.latin-extended.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-SemiBold.symbols-icons.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-SemiBoldItalic.latin-basic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-SemiBoldItalic.latin-extended.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-SemiBoldItalic.symbols-icons.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Bold.latin-basic.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Bold.latin-extended.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-Bold.symbols-icons.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-BoldItalic.latin-basic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0020-005D,U+005F,U+0061-007E,U+00A0;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-BoldItalic.latin-extended.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+00A1,U+00AA,U+00BA,U+00BF-00D6,U+00D8-00F6,U+00F8-00FF,U+0152-0153,U+0178;
}

@font-face {
  font-family: "SEIReader";
  src: url("./fonts/SEIReader-BoldItalic.symbols-icons.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+00A3,U+00A5,U+00A9,U+00AB,U+00AE,U+00B0-00B3,U+00B7,U+00B9,U+00BB-00BE,U+00D7,U+00F7,U+2013-2014,U+2018-2019,U+201C-201D,U+2022,U+2026,U+2039-203A,U+2044,U+2070,U+2074-2079,U+2080-2089,U+20AC,U+2122,U+2190-2193,U+2212,U+221E,U+2248,U+2260,U+2264-2265,U+2302,U+23ED-23EE,U+23F8-23FA,U+24C8,U+25B2,U+25B6,U+25BC,U+25C0,U+25C6-25C7,U+2600,U+2605-2606,U+262F,U+263D-263E,U+2661,U+2665,U+2669-266F,U+2694,U+2699,U+26A1,U+2713,U+2717,U+2726,U+E000-E00F,U+FB01-FB02,U+1F3A4,U+1F3A7,U+1F4BB,U+1F4BF,U+1F4D6,U+1F50A,U+1F50D,U+1F514,U+1F516;
}
